body{
	background:powderblue;
}

h1 {
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0px 15px 5px 15px;
	
}

div{
   text-align:center;
}

h3, h4 {
	text-align: center;
}

a {
	text-align: center;
	display: block;
}

img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 30%;
	height: 40%;
	object-fit:fill;
	
}

p {
	text-align: center;
	padding: 0px;
	letter-spacing: 1px;
	
}

div, iframe {
	margin: 0 auto;
}

iframe {
	display: block;
	border-style: none;
}